.menu-center {
	margin-left: 480px;
	margin-top: -30px;
	margin-bottom: -30px;
}

.input-find {
	width: 100%;
	float: left;
}

.btn-find {
	width: 50px;
	height: 50px;
	float: left;
	margin-left: -57px;
	margin-top: 8px;
	background-color: #58ed58;
}

.btn-modal1 {
	background-color: #5a6268;
	border: none;
	border-radius: 4px;
	color: white;
}

.btn-modal2 {
	background-color: #007bff;
	border: none;
	border-radius: 4px;
	color: white;
}

.modal-title {
	font-family: inherit;
	color: inherit;
	font-weight: 500;
}

#ThanhToan{
	margin: 10px;
	border: 2px solid #ffc7da;
}

#ThanhToan label{
	margin-left: 15px;
	margin-top: 10px;
}
