<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layoutSeller/index :: dynamic(~{:: main})}">
<body>
<main>
		<div class="container_cthd">
            <h3>Thông Tin Đơn Hàng</h3>
        <div class="cthd">
            <div class="row">
                <div class="col-sm-4">
                    <label for="">Id đơn</label>
                    <input type="text" readonly class="inputorder" value="1">
                </div>
                <div class="col-sm-4">
                    <label for="">Cửa Hàng</label>
                    <input type="text" readonly class="inputorder" value="2">
                </div>
                <div class="col-sm-4">
                    <label for="">Ngày đặt</label>
                    <input type="text" readonly class="inputorder" value="19/10/2021">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="">Khách hàng</label>
                    <input type="text" readonly class="inputorder" value="kgajsys12">
                </div>
                <div class="col-sm-4">
                    <label for="">Trạng thái</label>
                    <input type="text" readonly class="inputorder" value="đã giao">
                </div>
                <div class="col-sm-4">
                    <label for="">Tổng đơn</label>
                    <input type="text" readonly class="inputorder" value="123.000đ">
                </div>
            </div>
            <div class="diachi">
                <label for="">Địa chỉ</label>
                <textarea readonly name="" id="">
                    Họ tên: Nguyễn Thành
                    Số điện thoại :0989000432
                    Địa chỉ: số 288, Nguyễn Văn Linh, Phường An Khánh, Quận Ninh Kiều, Thành Phố Cần Thơ</textarea>
            </div>
        </div>
        <div class="tablecthd">
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Sản phẩm</th>
                    <th scope="col">Mã hóa đơn</th>
                    <th scope="col">Thành tiền</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>32.000</td>
                    <td>2</td>
                    <td>212</td>
                    <td>1</td>
                    <td>64.000</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
	
</main>
</body>
</html>