<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layoutSeller/index :: dynamic(~{:: main})}">
<body>
<main>
		<div class="container_cthd" id="title2" style="margin: 8px;">
            <h3 style="color: orange;">Thông Tin Đơn Hàng</h3>
       
        <div class="cthd" th:object="${orderla}">
            <div class="row">
                <div class="col-sm-4">
                    <label for=""> <b>Id đơn: </b>[[*{id}]]</label>
                    
                </div>
                <div class="col-sm-4">
                    <label for=""><b>Cửa Hàng: </b>[[*{store.name}]]</label>
                </div>
                <div class="col-sm-4">
                    <label for=""><b>Ngày đặt: </b>[[*{bookingdate}]]</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for=""><b>Khách hàng: </b>[[*{address.fullname}]]</label>
                </div>
                <div class="col-sm-4">
                    <label for=""><b>Trạng thái: </b> 
                    <span th:if="*{status == 1}">Đang chờ xác nhận</span>
                    <span th:if="*{status == 2}">Đang giao</span>
                    <span th:if="*{status == 3}">Đã nhận hàng</span>
                    <span th:if="*{status == 4}">Đã hủy</span>
                     </label>
                </div>
                <div class="col-sm-4">
                    <label for=""><b>Tổng đơn: </b>[[*{totalamount}]] đ</label>
                    
                </div>
            </div>
            <div class="diachi">
                <label for=""><b>Địa chỉ nhận: </b><b>Tên người nhận: </b> [[*{address.fullname}]], <b>Số điện thoại: </b>[[*{address.phone}]], <b>Địa chỉ:</b>[[*{address.address}]]</label>
            </div>
        </div>
       
       <h3 style="color: orange;">Chi tiết</h3>
        <div class="tablecthd">
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Sản phẩm</th>
                    <th scope="col">Mã hóa đơn</th>
                    <th scope="col">Thành tiền</th>
                  </tr>
                </thead>
                <tbody th:each="n:${detail}">
                  <tr>
                  	<td><img th:src="@{|/img/product/${n.product.images}|}" width="70px" height="70px" class="rounded-circle" alt="${n.id}"></td>
                  	<td>[[${n.price}]]</td>
                  	<td>[[${n.quantity}]]</td>
                  	<td>[[${n.product.name}]]</td>
                  	<td>[[${n.order.id}]]</td>
                  	<td>[[${n.totalamount}]]</td>
                  </tr>                  
                </tbody>
              </table>
        </div>
    </div>
	
</main>
</body>
</html>