<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layoutUser/myAccount/index :: dynamic(~{:: main})}">
<body>
	<main>	
		<div class="tab-pane fade active show">
		    <div class="ltn__myaccount-tab-content-inner">
		        <p>Các địa chỉ sau sẽ được sử dụng trên trang thanh toán</p>
		        <div class="row" th:each="adr:${address}">
		            <div class=" col-3 learts-mb-30">
						<div style="color: rgba(85,85,85,.8); text-align: right;">Họ Và Tên</div>
						<div style="color: rgba(85,85,85,.8); text-align: right;">Số Điện Thoại</div>
						<div style="color: rgba(85,85,85,.8); text-align: right;">Địa chỉ</div>
		            </div>
					<div class=" col-6 learts-mb-30">
		                <div th:text="${adr.fullname}"></div>
						<div th:text="${adr.phone}"></div>
						<div th:text="${adr.address}"></div>
		            </div>
					<div class=" col-3 learts-mb-30">
					<a th:href="@{|/account/edit_address/${adr.id}|}" style="margin-right: 15px;">Sửa</a>
						<a href="/account/add_address">Xóa</a>										
		            </div><hr>       
				</div><hr>
		            
				<a type="submit" href="/account/addaddress" class="btn theme-btn-1 btn-effect-1 text-uppercase">THÊM ĐỊA CHỈ MỚI</a>
		        
		    </div>
		</div>
	</main>
</body>
</html>