<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layoutUser/myAccount/index :: dynamic(~{:: main})}">
<body>
	<main>	
	<div class="tab-pane fade active show">
              <div class="ltn__myaccount-tab-content-inner" ng-controller="changepassword-ctrl">
                  <div class="ltn__form-box">
                      <form th:action="@{/account/change_password}" method="post" name="form_changepassword"> 
                          <fieldset>
                              <legend>Đổi Mật Khẩu</legend>
                              <p>Để đảm bảo tài khoản, vui lòng không chia sẽ mật khẩu cho người khác.</p>
                              <div class="row">
                                  <div class="col-md-12">
                                      <label>Mật khẩu hiện tại*:</label>
                                      <span style="color: red;" ng-hide="form_changepassword.pw_present.$valid">Không được để trống</span>
                                      <input ng-model="pw_present" type="password" name="pw_present" required>
                                      <label>Mật khẩu mới*:</label>
                                      <span style="color: red;" ng-hide="form_changepassword.pw_new.$valid">Không được để trống</span>
                                      <input ng-model="pw_new" type="password" name="pw_new" required>
                                      <label>Xác nhận mật khẩu mới*:</label>
                                      <span style="color: red;" ng-hide="form_changepassword.pw_confirm.$valid">Không được để trống</span>
                                      <input ng-model="pw_confirm" type="password" name="pw_confirm" required>
                                  </div>
                              </div>
                              <spam th:text="${messenger}"></spam>
                              <div class="btn-wrapper text-center">
                                  <button type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase">ĐỔI MẬT KHẨU</button>
                              </div>
                              <div class="by-agree ">
                                  <a href="login.html">QUYÊN MẬT KHẨU</a>
                              </div>
                          </fieldset> 
                      </form>
                  </div>
              </div>
         	</div>
      	</main>
</body>
</html>