<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layoutUser/myAccount/index :: dynamic(~{:: main})}">
<body>
	<main>	
	<div class="tab-pane fade active show">
              <div class="ltn__myaccount-tab-content-inner">
                  <div class="ltn__form-box">
                      <form action="#"> 
                          <fieldset>
                              <legend>Đổi Mật Khẩu</legend>
                              <p>Để đảm bảo tài khoản, vui lòng không chia sẽ mật khẩu cho người khác.</p>
                              <div class="row">
                                  <div class="col-md-12">
                                      <label>Mật khẩu hiện tại*:</label>
                                      <input type="password" name="ltn__name">
                                      <label>Mật khẩu mới*:</label>
                                      <input type="password" name="ltn__lastname">
                                      <label>Xác nhận mật khẩu mới*:</label>
                                      <input type="password" name="ltn__lastname">
                                  </div>
                              </div>
                              <div class="btn-wrapper text-center">
                                  <button type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase">ĐỔI MẬT KHẨU</button>
                              </div>
                              <div class="by-agree ">
                                  <a href="login.html">QUYÊN MẬT KHẨU</a>
                              </div>
                          </fieldset> 
                      </form>
                  </div>
              </div>
         	</div>
      	</main>
</body>
</html>