<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layoutUser/myAccount/index :: dynamic(~{:: main})}">
<body>
	<main>	
	<div class="tab-pane fade active show">
           <div class="ltn__myaccount-tab-content-inner">
               <div class="ltn__form-box">
                       <fieldset>
                           <legend>Địa Chỉ</legend>                         
                           <div class="row" th:each="add:${adda}">
                                <div class="col-md-6">
                                   <label>Họ và tên *:</label>
                                   <input type="text" th:value="${add.fullname}">
                                </div>
                                <div class="col-md-6">
                                    <label>Số điện thoại *:</label>
                                    <input type="text" th:value="${add.phone}">
                                 </div>
                                 <div class="col-md-12">
                                    <label>Địa chỉ cụ thể *:</label>
                                    <input type="text" th:value="${add.address}">
                                 </div>
                                 <div class="col-md-12">
                                    <label>user</label>
                                    <input type="text" th:value="${add.user.userid}">
                                 </div>
                           </div>
                           <div class="btn-wrapper text-center">
                               <a class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">Cập nhật Chỉ</a>
                           </div>

                           <div class="by-agree ">
                               <!-- <a href="/account/address">TRỞ VỀ</a> -->
                               <!-- <button ng-click="hello()" type="submit" class="btn btn-primary">helu</button> -->
                           </div>
                       </fieldset> 
               </div>
           </div>
  	 	</div>
  	 </main>
</body>
</html>