<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layoutUser/myAccount/index :: dynamic(~{:: main})}">
<body>
	<main>
	<div class="tab-pane fade active show" ng-controller="information-ctrl">
          <div class="ltn__myaccount-tab-content-inner">       
              <div class="ltn__myaccount-tab-content-inner">
                  <div class="ltn__form-box">
                      <form name="form_information"> 
                          <fieldset>
                              <legend>Thông Tin</legend>
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="text-center">
                                          <img ng-src="{{'/img/user/' + form.picture}}" alt="" style="width: 219px; height: 230px;"></br>
                                          <input type="file" class="btn theme-btn-3 btn-effect-1  mt-2" 
											onchange="angular.element(this).scope().imageChanged(this.files)">
                                          <p>Dụng lượng file tối đa 1 MB. Định dạng:.JPEG, .PNG</p>
                                      </div>
                                      <label>Tài khoản (Chỉ được cập nhật một lần duy nhất):</label>
                                      <input ng-model="form.username" type="text" name="ltn__name">                                
                                      <label>Họ và tên:</label>
                                      <span style="color: red;" ng-hide="form_information.txtFullname.$valid">Không được để trống họ và tên</span>
                                      <input ng-model="form.fullname" type="text" name="txtFullname" required>       
                                      <label>Email:</label>
                                      <span style="color: red;" ng-hide="form_information.txtEmail.$valid">Không được để trống và phải đúng định dạng email</span>
                                      <input ng-model="form.email" type="email" name="txtEmail" required>
                                      <label>Số điện thoại:</label>
                                      <span style="color: red;" ng-hide="form_information.txtPhone.$valid">Phải đúng định dạng số điện thoại</span>
                                      <input ng-model="form.phone" type="text" name="txtPhone">
                                      <label>Giới tính:</label></br>
                                      <div  class="gender">
                                          <div class="mt-15">
                                              <input ng-model="form.gender" type="radio" ng-value="true" name="gender"> Nam
                                              <input ng-model="form.gender" class="ml-30" type="radio" ng-value="false" name="gender"> Nữ 
                                          </div>
                                      </div>
                                      <label>Ngày sinh:</label>
                                      <input type="date" ng-model="form.birthday">
                                  </div>
                              </div>
                              <spam th:text="${messenger}"></spam>
                              <div class="btn-wrapper text-center">
                                  <button ng-click="update()" type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase">LƯU THAY ĐỔI</button>
                              </div>
                          </fieldset> 
                      </form>
                  </div>
              </div>
          </div>
   		</div>
	</main>
</body>
</html>