<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layoutUser/myAccount/index :: dynamic(~{:: main})}">
<body>
	<main>	
	<div class="tab-pane fade active show">
		    <div class="ltn__myaccount-tab-content-inner">
		        <div class="">
		            <table class="table">
		                <thead>
		                    <tr>
		                        <th>Ảnh</th>
		                        <th>Tên sản phẩm</th>
		                        <th>Giá</th>
		                        <th>Số lượng</th>
		                        <th>Tổng cộng</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr th:each="item : ${orderdetail}">
								<td><img
                            th:src="@{|/assets/images/${item.product.images}|}"
                            alt="${item.product.images}" class="rounded-circle" width="40px" height="40px"
                        /></td>
		                        <td>[[${item.product.name}]]</td>
		                        <td>[[${item.price}]]</td>
		                        <td>[[${item.quantity}]]</td>
		                        <td>[[${item.totalamount}]]</td>
		                    </tr>
		                    
		                </tbody>
		            </table>
		        </div>
		    </div>
		</div>
	</main>
</body>
</html>