<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layoutUser/myAccount/index :: dynamic(~{:: main})}">
<body>
	<main>	
	<div class="tab-pane fade active show">
		    <div class="ltn__myaccount-tab-content-inner">
		        <div class="">
		            <table class="table">
		                <thead>
		                    <tr>
		                        <th>Đơn hàng</th>
		                        <th>Ngày đặt</th>
		                        <th>Trạng thái</th>
		                        <th>Tổng số tiền</th>
		                        <th>Hành động</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr th:each="item : ${orderlist}">
		                        <td>[[${item.store.name}]]</td>
		                        <td>[[${item.bookingdate}]]</td>
		                        <td>
									<th:block th:if="${item.status} == 1">
										<p>Chờ xác nhận</p>
									</th:block>
									<th:block th:if="${item.status} == 2">
										<p>Đã xác nhận</p>
									</th:block>
									<th:block th:if="${item.status} == 3">
										<p>Đã hủy</p>
									</th:block>
									<th:block th:if="${item.status} == 4">
										<p>Đã giao</p>
									</th:block>
								</td>
		                        <td>[[${item.totalamount}]]</td>
		                        <td><a th:href="@{|/account/editorder/${item.id}|}">Xem</a></td>
		                    </tr>
		                    
		                </tbody>
		            </table>
		        </div>
		    </div>
		</div>
	</main>
</body>
</html>