<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layoutUser/myAccount/index :: dynamic(~{:: main})}">
<body>
	<main>	
	<div class="tab-pane fade active show" ng-app="user-app" ng-controller="wallet-ctrl">
            <div class="ltn__myaccount-tab-content-inner">
                <h4>Số dư là:10000</h4>
                <p>Bạn cần liên kết tài khoản ngân hàng với ví điện tử để có thể thanh toán hàng hóa.</p>
                <div class="ltn__form-box">
                    <h4>Liên kết thẻ</h4>
                    <form>
                        <div class="row mb-50">
                        	<div class="col-md-12">
                                <label>Số thẻ:</label>
                                <input ng-model="form.cardnumber" type="text" name="ltn__lastname">
                            </div> 
                            <div class="col-md-12">
                                <label>Họ tên trên thẻ:</label>
                                <input ng-model="form.holdername" type="text" name="ltn__name">
                            </div>
                            <div class="col-md-12">
                                <label>Mã CVV:</label>
                                <input ng-model="form.cvv" type="text" name="ltn__lastname">
                            </div>
                            <div class="col-md-12">
                            	<label>Chọn loại thẻ:</label>  
                                <div class="row">                  
                                     <div class="col-md-3" ng-repeat="cb in cardbrand">
                                     	<input ng-model="form.cardbrand" type="radio" ng-value="cb.id" name="brank"> <label>{{cb.name}}</label>
                                     </div>
                                 </div>
                            </div>             
                        <div class="btn-wrapper" style="float:right;">
                            <button type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase">Hủy</button>
                            <button ng-click="save()" type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>    
</html>