<div xmlns:th="http://www.thymeleaf.org">
   <main>
      <div class="headers">
          <header class="row">
              <div class="col-sm-9">
                  <a href="/index"><img th:src="@{|/img/logo.jpg|}" alt="no" ></a>
              </div>
              <div class="col-sm-3">
                  <img th:src="@{|/img/cai.jpg|}" class="img-thumbnail rounded-circle" width="80px" height="60px" alt="">
                  Admin
              </div>
          </header>
      </div>
  </main>
</div>