<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="dynamic(main)">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Broccoli - Organic Food HTML Template</title>
<meta name="robots" content="noindex, follow" />
<meta name="description" content="">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->

	<!--My's part-->
<!-- Place favicon.png in the root directory -->
<link rel="shortcut icon" href="/img/faviconlogo.ico" type="image/x-icon" />
<!-- Font Icons css -->

<link href="/css/font-icons.css" rel="stylesheet">

<link href="/css/plugins.css" rel="stylesheet">

<link href="/css/style.css" rel="stylesheet">

<link href="/css/responsive.css" rel="stylesheet">

<!-- Trung thêm -->
<link href="/css/mycss.css" rel="stylesheet">

<link href="/css/seller.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
</head>
<body  ng-app="buyer-app" ng-controller="buyer-ctrl">
	<div class="body-wrapper">
		<nav>
			<div th:replace="/layoutUser/_menu.html"></div>
		</nav>

		<div>
			<div th:replace="${main}"></div>
		</div>

		<footer>
			<div th:replace="/layoutUser/_footer.html"></div>
		</footer>
	</div>

	<!-- Body main wrapper end -->

	<!-- preloader area start -->
	<div class="preloader d-none" id="preloader">
		<div class="preloader-inner">
			<div class="spinner">
				<div class="dot1"></div>
				<div class="dot2"></div>
			</div>
		</div>
	</div>
	<!-- preloader area end -->

	<!-- All JS Plugins -->
	<script src="/js/plugins.js"></script>
	<!-- Main JS -->
	<script src="/js/main.js"></script>
	
	<script src="/app_js/buyer.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>