<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layoutAdmin/index :: dynamic(~{:: main})}">

<body>
    <main style="background-color: white; margin-top: 10px" ng-controller="category-ctrl">
        <div class="row container_Category">
            <div class="col-sm-6">
                <h5 style="color: orange; margin-top: 20px; font-size: 30px">Loại Sản Phẩm</h5>
                <hr>
                
                <div class="tableCategory">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Hình</th>
                                <th scope="col">Mã loại</th>
                                <th scope="col">Tên loại</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in pager.items">
                                <th scope="row">{{$index + 1+no}}</th>
                                <td><img ng-src="{{'/img/category/' + item.picture}}" class="img-thumbnail rounded-circle" alt=""></td>
                                <td>{{item.id}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.status?'Hoạt động':'Không hoạt động'}}</td>
                                <td>
                                    <div class="icon-sp">
                                        <a ng-click="edit(item)" href=""> 
                                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                 			<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />	
                                </svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>                  
                        </tbody>
                    </table>
                </div>
                <div class="foodterUL">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
						  <li class="page-item"><a ng-click="pager.first()" class="page-link" href="#"><=</a></li>
						  <li class="page-item"><a ng-click="pager.prev()" class="page-link" href="#"><<</a></li>
						  <li class="page-item"><a class="page-link" >{{pager.page + 1}} of {{pager.count}}</a></li>					
						  <li class="page-item"><a ng-click="pager.next()" class="page-link" href="#">>></a></li>
						  <li class="page-item"><a ng-click="pager.last()" class="page-link" href="#">=></a></li>
						</ul>
					  </nav>
				</div>
            </div>

            <div class="col-sm-6">
                <div class="border">
                    <label class="Deatail" style="color: orange; margin-top: 8px; font-size: 30px">Thông tin chi tiết</label>
                    <hr>
                    <form name="from_category">
                        <label  class="image">Hình ảnh</label>
                        <div class="header">
                            <img ng-src="{{'/img/category/'+ form.picture}}" class="img-thumbnail" alt="">                     
                           	<div style="margin-left: 122px;">									
								<label class="custom-file-upload">
								    <input type="file" onchange="angular.element(this).scope().imageChanged(this.files)"/>
								    Chọn tệp
								</label>		
							</div>
                        </div>
                        <div class="body">
                            <label for="">ID loại</label>
                            <input ng-model="form.id" type="text" class="form-control" readonly>
                            <label for="">Tên loại</label>
                            <input ng-model="form.name" name="txtName" type="text" class="form-control" required>
                            <span style="color: red;" ng-hide="from_category.txtName.$valid">Không được để trống tên loại sản phẩm</br></span>
                            <label for="">Trạng thái</label> <br>
                            <input ng-model="form.status" type="radio" checked class="radioCate" name="Category" ng-value="true"><label
                                class="namecategory">Kích hoạt</label>
                            <input ng-model="form.status" type="radio" class="radioCate" name="Category" ng-value="false"><label
                                class="namecategory">Không kích hoạt</label>
                        </div>
                        <div class="foodter">
                            <div class="btnc">
                                <button ng-click="update()" class="btn2" >Cập Nhật</button>
                                <button ng-click="create()" class="btn2" type="submit">Thêm</button>
                                <button ng-click="clear()" class="btn2" type="submit">Làm mới</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

</html>