<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layoutAdmin/index :: dynamic(~{:: main})}">
	
	<main class="main_UserList" ng-controller="user-ctrl">
		<div class="ltn__shop-details-tab-inner ltn__shop-details-tab-inner-2">
             <div class="ltn__shop-details-tab-menu">
                 <div class="nav">
                     <a  data-toggle="tab" href="#liton_tab_details_1_1">Thêm và cập nhật</a>
                     <a class="active show" data-toggle="tab" href="#liton_tab_details_1_2">Danh sách</a>
                 </div>
             </div>
             <div class="tab-content">
                 <div class="tab-pane fade " id="liton_tab_details_1_1">
                     <div class="containerUs">
						<form name="form_user">
							<div class="row" style="text-align: center;">
								<div class="col-sm-12 hello" style="text-align: center;">
									<h5  style="color: orange; margin-top: 20px; font-size: 30px">Chỉnh sửa người dùng</h5>
								</div>
							</div>
							<div class="row">			
								<div class="col-sm-8">
									<div class="thongtin_1">
										<div class="input-data">
											<label style="margin-bottom: 30px; color: #4158d0;">ID người dùng</label>										
											<input ng-model="form.userid" type="text" readonly>
											<!-- <div class="underline"></div> -->
											
										</div>
										<div class="input-data">
											<input ng-model="form.username" name="username"  type="text" ng-minlength="6" ng-maxlength="15" ng-required="true" ng-pattern="/^[a-z0-9_-]{6,15}$/i" >					
											<div class="underline"></div>
											<label for="">Tên đăng nhập</label>
											<div style="margin-bottom: 20px; color: red">
												<span class="error" ng-show="form_user.username.$error.required">Không
													bỏ trống Tên đăng nhập</span> <span class="error"
													ng-show="form_user.username.$error.minlength">Tên
													đăng nhập ít nhất phải 6 ký tự</span> <span class="error"
													ng-show="form_user.username.$error.maxlength">Tên
													đăng nhập tối đa 15 ký tự</span> <span
													ng-show="form_user.username.$dirty&&dk.username.$error.pattern">Không
													đúng định dạng User</span>
											</div>
										</div>
										<div  class="input-data">
											<input ng-model="form.password" name="password"  type="password" ng-required="true" ng-minlength="6">
											<div class="underline"></div>
											<label for="">Mật khẩu</label>
											<div style="margin-bottom: 20px; color: Red">
												<span ng-show="form_user.password.$error.required">Không
													bỏ trống Password</span> <span class="error"
													ng-show="form_user.password.$error.minlength">Mật khẩu ít nhất phải 6 ký tự</span>
											</div>
										</div>
										<div class="input-data">
											<input ng-model="form.fullname"  type="text" >
											<div  class="underline"></div>
											<label for="">Họ và tên</label>
										</div>
										<div class="input-data">
											<input ng-model="form.email"  type="text" name="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"ng-required="true">		
											<div class="underline"></div>
											<label for="">Email</label>
											<div style=" margin-bottom: 20px; color: Red">
												<span ng-show="form_user.email.$error.required">Không
													bỏ trống Email</span> <span
													ng-show="form_user.email.$dirty&&form_user.email.$error.pattern">Không
													đúng định dạng Email</span>
											</div>
										</div>
										<div class="input-data">
											<input ng-model="form.phone"  type="text" >
											<div class="underline"></div>
											<label for="">Số điện thoại</label>
										</div>										
										<div class="row">
											<div class="col-sm-6">													
												<label>Ngày sinh:</label></br>
												<input type="date" ng-model="form.birthday">										      
											</div>
											<div class="col-sm-6">
												<label>Giới tính:</label>
												<div class="gender ">
													<input ng-model="form.gender"  type="radio" checked class="gender_radio_1" name="gender"
														ng-value="true"><label class="gender_lable">Nam</label> 
													<input ng-model="form.gender"  type="radio" class="gender_radio_2" name="gender" id="" ng-value="false"><label
														class="gender_lable">Nữ</label>							
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="thongtin_2">
										<div class="image">
											<img ng-src="{{'/img/user/' + form.picture}}"
												class="img-thumbnail rounded-circle" alt="userimage"
												width="250px" height="">
										</div>
										<div>									
											<label class="custom-file-upload">
											    <input type="file" onchange="angular.element(this).scope().imageChanged(this.files)"/>
											    Chọn tệp
											</label>		
										</div>
									</div>
								</div>
							</div>
							<div class="btna row">
								<button ng-click="create()" class="btn1" type="submit" ng-disabled="form.userid!=null || !form_user.$valid">Thêm</button>
								<button ng-click="update()" class="btn2" type="submit" ng-disabled="form.userid==null || !form_user.$valid">Cập Nhật</button>
								<button ng-click="clear()" class="btn2" type="submit">Làm Mới</button>
							</div>
						</form>
					</div>
                 </div>
                 <div class="tab-pane fade active show" id="liton_tab_details_1_2">
                     <div class="UserList">
						<div class="taital">
							<h2  style="color: orange; margin-top: 20px; font-size: 30px">Danh sách người dùng</h2>
						</div>
						<div class="container__UL">
							<div class=" row search_wrap">
								<div class="col-sm-12">
								<form ng-click="search(name)">
									<label class="lable_Search">Tìm kiếm </label> 
									<input ng-model="name" type="text" style="width: 60%" name="" id="" placeholder="Nhập tên người dùng...." class="input_search_store" required>	
								    <button style="border-radius: 5px;" ng-click="search(name)" class="btn-find" type="submit">Tìm</button>
								</form>
								</div>
								
							</div>
							
						</div>
						<hr>
						<div class="tableUL" ng-show="pager.items.length>0">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">STT</th>
										<th scope="col">Tên tài khoản</th>
										<th scope="col">Hình</th>
										<th scope="col">Họ và tên</th>
										<th scope="col">Email</th>
										<th scope="col">Giới tính</th>
										<th scope="col">Ngày sinh</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in pager.items">
										<th scope="row">{{$index + 1+no}}</th>
										<td>{{item.username}}</td>
										<td><img ng-src="{{'/img/user/' + item.picture}}" class="img-thumbnail rounded-circle" alt="" width="50px" height="50px"></td>										
										<td>{{item.fullname}}</td>
										<td>{{item.email}}</td>
										<td>{{item.gender?'Nam':'Nữ'}}</td>
										<td>{{item.birthday | date:'dd-MM-yyyy'}}</td>										
										<td>
	                                        <div class="icon-sp">
	                                            <a ng-click="edit(item)" href=""> 
		                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
		                                    			<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
					                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />	
					                                </svg>
	                                            </a>
	                                        </div>
	                                    </td>
									</tr>	
								</tbody>
							</table>
						</div>
				
					</div>
					<div class="foodterUL" ng-show="pager.items.length>0">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
							  <li class="page-item"><a ng-click="pager.first()" class="page-link" href="#"><=</a></li>
							  <li class="page-item"><a ng-click="pager.prev()" class="page-link" href="#"><<</a></li>
							  <li class="page-item"><a class="page-link" >{{pager.page + 1}} of {{pager.count}}</a></li>					
							  <li class="page-item"><a ng-click="pager.next()" class="page-link" href="#">>></a></li>
							  <li class="page-item"><a ng-click="pager.last()" class="page-link" href="#">=></a></li>
							</ul>
						  </nav>
					</div>
					<div style="color: rgb(0, 0, 0); background-color:#e5e5e5; padding-bottom:1px; padding-top: 10px; padding-left: 10px; padding-right: 5px; margin-left: 10px; margin-right: 10px;" ng-show="pager.items.length<1">
							<h5>Không tìm thấy người dùng!</h5>				
					</div>
                 </div>
             </div>
         </div>
	</main>	

</html>