<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layoutAdmin/index :: dynamic(~{:: main})}">

<body>
	<main style="margin-top: -10px; background-color: white; min-height: 744px;" ng-controller="store-ctrl">	
		<div class="container_Store" >
			<div class="row">
				<div class="col-sm-5"></div>
				<h2  style="color: orange; margin-top: 20px; font-size: 30px">Tất cả cửa hàng</h2>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<form  ng-click="search(name)">
						<label class="lable_Search">Tìm kiếm </label> 
						<input ng-model="name" type="text" style="width: 30%" name="" id="" placeholder="Nhập tên cửa hàng...." class="input_search_store" required>			
						<button ng-click="search(name)" class="btn-find" type="submit">Tìm</button>
					</form>
				</div>
			
			</div>
			<hr>
			<div class="table_Store">
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th scope="col">STT</th>
							<th scope="col">Tên Cửa Hàng</th>
							<th scope="col">Chủ cửa hàng</th>
							<th scope="col">Tổng sản phẩm</th>		
							<th scope="col">Hoạt động</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pager.items">
							<th scope="row">{{$index + 1+no}}</th>
							<td>{{item.name}}</td>
							<td>{{item.user.fullname}}</td>
							<td>{{item.quanlity}}</td>				
							<!-- <td>{{item.status?'Hoạt động':'Không hoạt động'}}</td> -->
							<td>
				                 <input ng-checked="item.status" ng-click="update_status(item)" type="checkbox">
				            </td>
						</tr>		
					</tbody>
				</table>
			</div>
		</div>
		<div class="foodterUL">
			<nav aria-label="Page navigation example">
				<ul class="pagination">
				  <li class="page-item"><a ng-click="pager.first()" class="page-link" href="#"><=</a></li>
				  <li class="page-item"><a ng-click="pager.prev()" class="page-link" href="#"><<</a></li>
				  <li class="page-item"><a class="page-link" >{{pager.page + 1}} of {{pager.count}}</a></li>					
				  <li class="page-item"><a ng-click="pager.next()" class="page-link" href="#">>></a></li>
				  <li class="page-item"><a ng-click="pager.last()" class="page-link" href="#">=></a></li>
				</ul>
			  </nav>
		</div>
	</main>
</body>
</html>