<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layoutUser/index :: dynamic(~{:: main})}">

<body>
	<main>
		<!-- BREADCRUMB AREA START -->
		<div class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-90 bg-image"
			data-bg="/img/bg/9.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
							<div class="section-title-area ltn__section-title-2">
								<h6 class="section-subtitle ltn__secondary-color">// Chào mừng bạn đến với shop của
									chúng tôi</h6>
								<h1 class="section-title white-color">Giỏ hàng</h1>
							</div>
							<div class="ltn__breadcrumb-list">
								<ul>
									<li><a href="/index">Trang chủ</a></li>
									<li>Giỏ hàng</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- BREADCRUMB AREA END -->
		<!-- SHOPING CART AREA START -->
		<div class="liton__shoping-cart-area mb-120">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="shoping-cart-inner">
							<div class="shoping-cart-table table-responsive">
								<table class="table table-hover table-borderless table-bordered">
									<thead>
										<th colspan="2"></th>
										<th class="cart-product-image">Hình ảnh</th>
										<th class="cart-product-info">Sản phẩm</th>
										<th class="cart-product-price">Giá</th>
										<th class="cart-product-quantity">Số lượng</th>
										<th class="cart-product-subtotal">Số tiền</th>
										<th class="cart-product-remove">Xóa</th>
									</thead>
									
							<tbody ng-repeat="detail in cart.items | groupBy:'storeid'">
								<th scope="row"  ng-show="detail.group_by_key" colspan="4" style="text-align: left; color: red">{{detail.product.store.name}}</th>
								<tr>
									<td>
										<div ng-if="detail.status == true">
											<input type="checkbox" checked ng-click="cart.ckeck(detail.id)">
										</div>
										<div ng-if="detail.status != true">
											<input type="checkbox" ng-click="cart.ckeck(detail.id)">
										</div>
									</td>
									<td class="cart-product-image">
										<a href="index/product-detail"><img th:src="@{|/img/product/{{detail.product.images}}|}" alt="{{detail.product.images}}"></a>
									</td>
									<td class="cart-product-info">
										<h4><a href="index/product-detail">{{detail.product.name}}</a></h4>
									</td>
									<td class="cart-product-price">{{detail.product.price}} đ</td>
									<td class="cart-product-quantity">
										<div class="input-group mb-3">
											<input type="submit" ng-click="cart.apartquantity(detail.id)" value="-" style="width: 10px;">
											<input type="submit"disabled value="{{detail.quantity}}"style="width: 10px;">
											<input type="submit" ng-click="cart.addquantity(detail.id)" value="+" style="width : 10px;">
										  </div>
									</td>
									<td class="cart-product-subtotal">{{detail.product.price * detail.quantity}} đ</td>
									<td class="cart-product-remove" >xóa</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
								<th>Tổng tiền cần thanh toán</th>
								<td>{{cart.amount | number : 2}}đ</td>
							</tr>
							</tbody>
							</table>
								<div class="btn-wrapper text-right">
									<a href="/index/checkout" class="theme-btn-1 btn btn-effect-1">Tiến hành thanh
										toán</a>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- SHOPING CART AREA END -->
		<!-- FEATURE AREA START ( Feature - 3) -->
		<div class="ltn__feature-area before-bg-bottom-2 mb--30--- plr--5">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="ltn__feature-item-box-wrap ltn__border-between-column white-bg">
							<div class="row">
								<div class="col-xl-6 col-md-12 col-12">
									<div class="ltn__feature-item ltn__feature-item-8">
										<div class="ltn__feature-icon">
											<img src="/img/icons/icon-img/13.png" alt="#">
										</div>
										<div class="ltn__feature-info">
											<h4>Thực phẩm từ tự nhiên</h4>
											<p>Shop cho bạn đổi trả trong vòng 2 giờ sau khi thanh toán.</p>
											<p>Sau 2 giờ shop không giải quyết bất kỳ vấn đề nào về sản phẩm.</p>
										</div>
									</div>
								</div>
								<div class="col-xl-6 col-md-12 col-12">
									<div class="ltn__feature-item ltn__feature-item-8">
										<div class="ltn__feature-icon">
											<img src="/img/icons/icon-img/14.png" alt="#">
										</div>
										<div class="ltn__feature-info">
											<h4>Giao hàng nhanh chóng</h4>
											<p>Chúng tôi sẽ ưu tiên vấn đề thời gian để tối ưu chất lượng sản phẩm, mong
												mang lại cho bạn nguồn thực phẩm tốt nhất.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- FEATURE AREA END -->
	</main>
</body>

</html>