<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layoutUser/index :: dynamic(~{:: main})}">

<body>
    <main ng-controller="buyer-ctrl">
        <!-- SLIDER AREA START (slider-3) -->
        <div class="ltn__slider-area ltn__slider-3  section-bg-1">
            <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1">
                <!-- ltn__slide-item -->
                <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3">
                    <div class="ltn__slide-item-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 align-self-center">
                                    <div class="slide-item-info">
                                        <div class="slide-item-info-inner ltn__slide-animation">
                                            <div class="slide-video mb-50 d-none">
                                                <a class="ltn__video-icon-2 ltn__video-icon-2-border" href="https://www.youtube.com/embed/ATI7vfCgwXE?autoplay=1&amp;showinfo=0" data-rel="lightcase:myCollection"> <i class="fa fa-play"></i>
                                                </a>
                                            </div>
                                            <h6 class="slide-sub-title animated">
                                                <img src="/img/icons/icon-img/1.png" alt="#"> 100% sản phẩm tự nhiên
                                            </h6>
                                            <h1 class="slide-title animated ">
                                                Giảm ngay 5% cho<br> đơn hàng từ 99k
                                            </h1>
                                            <div class="slide-brief animated d-none">
                                                <p>
                                                    <b>Rau củ tươi ngon, đảm bảo chất lượng</b> luôn là <b>tiêu
														chí hàng đầu</b> của website nông sản online của chúng tôi.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-item-img">
                                        <img src="/img/slider/23.png" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ltn__slide-item -->
                <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3">
                    <div class="ltn__slide-item-inner  text-right">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 align-self-center">
                                    <div class="slide-item-info">
                                        <div class="slide-item-info-inner ltn__slide-animation">
                                            <h6 class="slide-sub-title animated">
                                                <img src="/img/icons/icon-img/1.png" alt="#"> 100% sản phẩm tự nhiên
                                            </h6>
                                            <h1 class="slide-title animated ">
                                                Giảm ngay 10% cho<br> đơn hàng từ 300k
                                            </h1>
                                            <div class="slide-brief animated">
                                                <p>
                                                    <b>Rau củ tươi ngon, đảm bảo chất lượng</b> luôn là <b>tiêu
														chí hàng đầu</b> của website nông sản online của chúng tôi.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-item-img slide-img-left">
                                        <img src="/img/slider/21.png" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
        <div class="ltn__product-tab-area ltn__product-gutter pt-85 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-area ltn__section-title-2 text-center">
                            <h1 class="section-title">Sản phẩm</h1>
                        </div>
                        <div class="ltn__tab-menu ltn__tab-menu-2 ltn__tab-menu-top-right-- text-uppercase text-center">
                            <div class="nav">
                                <a th:href="@{|/index|}">Tổng hợp</a>
                                <a th:each="c: ${cates}" th:href="@{|/index?cid=${c.id}|}">[[${c.name}]]</a>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active show" th:object="${cates}" id="*{id}">
                                <div class="ltn__product-tab-content-inner">
                                    <div class="row ltn__tab-product-slider-one-active slick-arrow-1">
                                        <!-- ltn__product-item -->

                                        <div class="col-lg-4" th:each="product: ${sp}" th:object="${product}">
                                            <a th:href="@{|/index/product-detail/${product.id}|}">
                                            <div style="width: 270px; height: 386px;" class="ltn__product-item ltn__product-item-3 text-center">
                                                
                                                    <div style="width: 266px; height: 266px;" class="product-img">
                                                        <img th:src="@{|/assets/images/${product.images}|}" alt="#">
                                                        <div class="product-badge">
                                                            <ul>
                                                                <li class="sale-badge">[(${product.status ? 'Còn hàng' : 'Hết hàng'})]</li>
                                                            </ul>
                                                        </div>
                                                        <div class="product-hover-action">
                                                            <ul>
                                                                <!-- <li>
                                                                    <a th:href="@{|/index/product-detail/${product.id}|}" title="Quick View" data-toggle="modal" data-target="#quick_view_modal">
                                                                        <i class="far fa-eye"></i>
                                                                    </a>
                                                                </li> -->
                                                                <li>
                                                                    <a th:attr="ng-click=@{|cart.add(${product.id})|}" title="Add to Cart" data-toggle="modal" data-target="#add_to_cart_modal">
                                                                        <i class="fas fa-shopping-cart"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="product-info">
                                                        <div class="product-ratting">
                                                            <ul>
                                                            </ul>
                                                        </div>
                                                        <h2 class="product-title">
                                                            <a th:href="@{|/index/product-detail/${product.id}|}">[(${product.name})]</a>
                                                        </h2>
                                                        <div class="product-price">
                                                            <span th:text = "*{#numbers.formatDecimal(price, 0, 'COMMA', 0, 'POINT')}"></span> VNĐ
                                                        </div>
                                                    </div>
                                                
                                            </div>
                                        </a>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>