<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layoutUser/index :: dynamic(~{:: main})}">
<body>
	<main>
		<!-- LOGIN AREA START -->
		<div class="ltn__login-area pb-65 mt-40" ng-controller="login-ctrl">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="text-center mt--90">
							<img src="/img/banner/menu-banner-1.png" alt="404">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="account-login-inner">
							<h1 class="section-title text-center">Đăng Nhập</h1>
							<form th:action="@{/security/login}" method="post" class="ltn__form-box contact-form-box" name="form_login">
								<span style="color: red;" ng-hide="form_login.username.$valid">Không được để trống tài khoản</span>
								<input ng-model="email" type="text" name="username" placeholder="Tài khoản*" required>
								<span style="color: red;" ng-hide="form_login.password.$valid">Không được để trống mật khẩu</span>
								<input ng-model="password" type="password" name="password" placeholder="Mật Khẩu*" required>
									
								<div class="go-to-btn mt--30">
									<a href="/fogot_password"><small>QUÊN MẬT KHẨU?</small></a>
								</div>
								<spam th:text="${message}"></spam>
								<div class="btn-wrapper mt-20">
									<button class="theme-btn-1 btn btn-block" type="submit">ĐĂNG NHẬP</button>		
								</div>
								<div class="btn-wrapper mt-10">
									<a href="/oauth2/authorization/facebook" class="theme-btn-3 btn btn-block" type="submit" title="Facebook">				
										<i class="fab fa-facebook"></i> Facebook
									</a>
								</div>
								<div class="btn-wrapper mt-10">
									<a href="/oauth2/authorization/google" class="theme-btn-3 btn btn-block" type="submit">
										<i class="fab fa-google-plus"></i> Google +
									</a>
								</div>
								<div class="go-to-btn mt-20">
									<a href="/register"><small>TẠO TÀI KHOẢN</small></a>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- LOGIN AREA END -->

	</main>
</body>
</html>